.interactive-item {
  border: 1px solid transparent; /* Border made transparent to prevent layout shift */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: #fff;
  transition: box-shadow .3s, transform .3s;
}

.menu-food-item,
.menu-food-item .add-to-basket {
  transition: .3s;
  font-family: 'Playfair Display', serif
}

.interactive-item:hover {
  border: 1px solid rgba(255, 215, 0, .5);
  background-color: rgba(50, 50, 50, .2);
  color: gold;
  transform: scale(1.02);
  opacity: .9
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* More items per row, auto-fit for responsiveness */
  gap: 10px; /* Reduced gap */
}

.menu-food-item {
  background-color: #fff4e6;
  color: #5c3a0d;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden; /* Hide overflow */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
  justify-content: start; /* Align content to start */
  transition: box-shadow .3s, transform .3s;
}
.owl-carousel.centernonloop .owl-dots.disabled,
.site-nav-toggle {
  display: block !important
}

.menu-food-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  transform: scale(1.05);
  background-color: #f3e9dc
}

.menu-food-item img:hover {
  opacity: .9;
  transform: scale(1.1)
}
/* Font size optimizations */
.menu-food-item h3,
.menu-food-item p,
.menu-food-item .add-to-basket {
  font-size: 0.7em; /* Smaller font size for better fit */
}
.menu-food-item h3,
.menu-food-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7em; /* Smaller font size */
  text-align: center;
  margin-top: 5px; /* Reduced margin */
}
.menu-food-item h3:hover,
.menu-food-item p:hover {
  color: #6d4e18
}

.menu-food-item h3 {
  width: 45%;
  display: inline-flex;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
  color: #5c3a0d;
  flex-grow: 1
}

.menu-food-item img {
  width: 100%; /* Full width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area fully */
  transition: transform .3s, opacity .3s;
}
.interactive-item:hover,
.menu-food-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  transform: scale(1.02);
}
.menu-food-item h3, .menu-food-item p, .menu-food-item .add-to-basket {
  font-size: 0.9em; /* Adjusted for readability */
}

/* Media query for mobile devices */
/* Responsive adjustments for mobile devices */
@media (max-width: 767px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
  }
  
  .menu-food-item img {
    width: calc(100% + 20px); /* Larger images for mobile */
    margin: -10px; /* Adjust margin to fit */
  }
  
  .menu-food-item {
    margin-bottom: 15px; /* Space between items */
  }
  
  .menu-food-item .add-to-basket {
    padding: 8px 16px; /* Larger tap targets */
  }
}

/* Adjustments for very small devices */
@media (max-width: 480px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr); /* Ensure two items per row */
  }
  
  .menu-food-item img {
    width: calc(100% + 30px); /* Even larger images for smaller devices */
    margin: -15px; /* Adjust margin to fit */
  }
  
  .menu-food-item .add-to-basket {
    padding: 8px 16px; /* Larger buttons for easier interaction */
  }
  /* Smaller font size for item name and description on very small screens */
  .menu-food-item h3,
  .menu-food-item p {
    font-size: 0.6em;
  }
}

/* Additional styles for ensuring content stays within the container */
.menu-food-item {
  overflow: hidden; /* Ensure all content stays within the container */
  max-width: 100%; /* Max width to prevent overflow */
}



.menu-food-item .price {
  font-size: 1em;
  color: #5c3a0d;
  margin-right: 10px
}
.menu-food-item .add-to-basket {
  background-color: gold;
  color: #5c3a0d;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7em; /* Smaller font size for the button */
}
.menu-food-item h3, .menu-food-item p {
  font-size: 0.8em; /* Slightly reduce font size to save space */
  text-align: center;
  margin-top: 5px; /* Reduce margin top */
}
 .menu-food-item h3, .menu-food-item p, .addToBasket {
    font-size: smaller; /* Adjust the font size for mobile */
  }
  .menu-food-item .add-to-basket {
    width: auto; /* Adjust the width as necessary */
    margin-top: 10px; /* Add space above the button */
  }
  .addToBasket {
    background-color: transparent; /* Remove any background */
    border: none; /* Remove borders */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    color: #5c3a0d; /* Give it a specific color - can match your theme */
    font-size: 2em; /* Increase the size of the icon */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transition for smooth color and transform changes */
  }
  
  .addToBasket:hover,
  .addToBasket:focus { /* Styles for hover and focus states */
    color: gold; /* Change color on hover/focus for a highlighted effect */
    transform: scale(1.1); /* Slightly increase the size on hover/focus */
  }
  
  .addToBasket:active { /* Styles for when the icon is clicked */
    transform: scale(0.9); /* Slightly decrease the size to give a button press effect */
  }
  

.menu-food-item .add-to-basket:hover {
  background-color: #e0a96d;
  color: #fff;
  transform: scale(1.05)
}

.menu-food-item .d-flex.align-items-center {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.menu-food-item h3 a:hover {
  color: gray
}
