.menu-container {
    display: grid;
    /* Adjust the 'minmax' values to allow more items per row */
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); 
    gap: 10px; /* Reduce the gap if necessary */
    /* ... other styles ... */
  }
  

/* Card Layout */
.menu-food-item {
    background-color:#fff4e6;
    color:#5c3a0d;
  border-radius: 16px;
  box-shadow:0 0 10px #ccc;
  padding: 10px;
  margin-bottom: 10px; /* Reduce space between rows */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-food-item:hover {
    box-shadow:0 0 15px #0003;
    transform:scale(1.05);
    background-color:#f3e9dc
    }
.menu-item-img {
  width: 100%;
  max-width: 100%; 
  max-height: 150px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.menu-item-details {
  text-align: center;
}
.menu-food-item h3,
.menu-food-item p {
  font-size: 0.8em; /* Smaller font size for text */
  /* ... other styles ... */
}

.menu-item-title {
  font-size: 1.25rem; /* Larger font size for the title */
  color: #333;
  margin-bottom: 0.5rem;
}

.menu-item-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.menu-item-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-item-price {
  font-weight: bold;
  color: #333;
}

.add-to-basket-icon {
  color: #ffd700; /* Gold color */
  cursor: pointer;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
    .menu-container {
        grid-template-columns: repeat(3, 1fr);/* Full width on smaller screens */
    }

    .menu-food-item {
        margin: 0.5rem; /* Reduce margin for smaller screens */
    }

    .menu-item-img {
        width: 80%; /* Reduce image width for smaller screens */
    }

    .menu-item-title {
        font-size: 1rem; /* Decrease font size for smaller screens */
    }

    .menu-item-description {
        font-size: 0.875rem; /* Decrease font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .menu-container {
        /* For very small screens, adjust columns accordingly */
        grid-template-columns: repeat(2, 1fr); /* Example: 2 columns for mobile phones */
      }
    /* Adjustments for very small devices */
    .menu-food-item {
        margin: 0.25rem; /* Reduce margin even further for very small devices */
    }

    .menu-item-img {
        width: 70%; /* Reduce image width even further for very small devices */
    }

    .menu-item-title {
        font-size: 0.875rem; /* Decrease font size for very small devices */
    }

    .menu-item-description {
        font-size: 0.75rem; /* Decrease font size for very small devices */
    }
}
